Source: libosal
Priority: optional
Maintainer: Robert Burger <robert.burger@dlr.de>
Build-Depends: debhelper-compat (= 13), autotools-dev
Standards-Version: 4.5.1
Section: libs
Homepage: https://rmc-github.robotic.dlr.de/pages/common/libosal/master/index.html
Vcs-Browser: https://rmc-github.robotic.dlr.de/common/libosal
Vcs-Git: https://rmc-github.robotic.dlr.de/common/libosal.git
Rules-Requires-Root: no

Package: libosal-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libosal (= ${binary:Version}), ${misc:Depends}
Description: Write os-independent code for easy portability between different systems and architectures.
 libosal is an operating system abstraction layer Library. It's purpose is to write os-independent code for easy portability between different systems and architectures. It contains of 'binary semaphores', 'condition variables', 'io', 'message queues', 'mutex', 'semaphores', 'shared memory', 'spinlocks', 'tasks', 'timers' and 'traces'.

Package: libosal
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Write os-independent code for easy portability between different systems and architectures.
 libosal is an operating system abstraction layer Library. It's purpose is to write os-independent code for easy portability between different systems and architectures. It contains of 'binary semaphores', 'condition variables', 'io', 'message queues', 'mutex', 'semaphores', 'shared memory', 'spinlocks', 'tasks', 'timers' and 'traces'.
